.navbar {
    display: flex;
    flex: column;
}
.header-container {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    width: 100vw;
}

.sidebar {
    position: fixed;
    top: 10%;
    right: 0;
    width:30%;
    background-color: rgb(66, 61, 61);
    color: white;
    padding: 0.7em;
    overflow:hidden;
    transition: 0.3s ease;
    transform: translateX(100%);
}

.sidebar.open{
    transform: translateX(0);
}
.sidebar ul{
    list-style: none;
    padding: 0.5em;
}
.sidebar li{
    margin: 0.9em;
}
.toggle-btn {
    position: absolute;
    /* top: 1.2em; */
    right: 5em;
    cursor: pointer;
}
.profile-picture-container{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: black;
    margin-right: 1em;
}
.user-name{
    margin-right: 1em;
    color:#fff;
}

/* Modals */
/* ------------------------------ */

.modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-Index: 1000;
        transition: 1s ease;
    }
.modal-content {
    position: relative;
    justify-items: center;
    background-Color: white;
    padding: 20px;
    border-Radius: 5px;
    width: 80%;
    box-Shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 1s ease;
}
.close-btn{
    position: absolute;
    top: 0.3em;
    right: 1.2em;
    background: transparent;
    border: none;
    font-Size: 20px;
    cursor: pointer;
}

.modal-content form {
    /* display: flex; */
    /* flex: column; */
    /* justify-content: center; */

}